<script>
</script>

<main>
  <h1>Unix Permissions</h1>
  <p>This will eventually be something more interesting</p>
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    /* max-width: 240px; */
    margin: 0 auto;
  }
</style>
